.product{
    padding: 175px 165px 160px 165px;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    margin: auto;
    gap: 160px;

    @media (max-width: 1200px) {
        padding: 140px 40px 120px 40px;
        gap: 120px;
    }

    @media (max-width: 700px) {
        padding: 120px 24px 120px 24px;
        gap: 88px;
    }
}

.product-main{
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: flex-start;
    width: 100%;

        &>a{
            margin-bottom: 56px;
            font-size: 15px;
            font-weight: 500;
            line-height: 25px;
            opacity: 0.5;
            transition: color ease 0.3s, opacity ease 0.3s;
        
        &:hover{
            color: #D87D4A;
            opacity: 1;
        }

        @media (max-width: 1100px) {
            margin-bottom: 24px;
        }
    }
}

.product-buy{
    
    justify-content: center;
    display: flex;
    align-items: center;
    gap: 125px;

    &>picture>img{
        width: 540px;
        height: 560px;
        border-radius: 8px;

        
    }

    &>div{
        display: flex;
        flex-direction: column;
        max-width: 450px;

        &>h2{
            color: #D87D4A;
            font-size: 14px;
            letter-spacing: 10px;
            margin-bottom: 16px;
        }

        &>h1{
            font-size: 40px;
            line-height: 44px;
            font-weight: bold;
            letter-spacing: 1.43px;
        }

        &>p:first-of-type{
            font-size: 15px;
            line-height: 25px;
            letter-spacing: 0px;
            font-weight: 500;
            opacity: 0.5;
            margin-block: 32px;
        }

        &>p:last-of-type{
            font-weight: bold;
            font-size: 18px;
            letter-spacing: 1.29px;
            margin-bottom: 48px;
        }

        &>div{
            display: flex;
            gap: 16px;
        }
    }

    @media (max-width: 1100px) {

        gap: 69px;

        &>picture>img{
            width: auto;
            height: 480px;
        }
    }

    @media (max-width: 700px) {
        flex-direction: column;
        gap: 32px;

        &>picture>img{
            aspect-ratio: 1/1;
            width: 100%;
            height: 100%;
        }

        &>div{
            width: 100%;
            max-width: none;
        }

        &>div>h1{
            font-size: 28px;
            line-height: auto;
        }

        &>div>p:last-of-type{
                margin-bottom: 30px;
        }
    }
}

.product-desc{
    display: flex;
    gap: 125px;

    &>div{

        &:first-of-type{
            width: calc(60% - 62px);
        }

        &:last-of-type{
            width: calc(40% - 63px);
        }

        display: flex;
        flex-direction: column;
        gap: 32px;

        &>h2{
            color: black;
            font-size: 32px;
            line-height: 36px;
            letter-spacing: 1.14px;
            font-weight: bold;
        }

        &>p{
            color: black;
            font-size: 15px;
            line-height: 25px;
            font-weight: 500;
            opacity: 0.5;
        }
    }

    @media (max-width: 1100px) {
        flex-direction: column;

        &>div{
            &:last-of-type,&:first-of-type{
                width: 100%;
            }

            &:last-of-type{
                    display: grid;
                    grid-template-columns: 1fr 1fr;
            }
        }
    }

    @media (max-width: 700px) {
        &>div:last-of-type{
            display: flex;
            flex-direction: column;
            gap: 24px;
        }
    }
}

.product-box{
    display: flex;
    flex-direction: column;
    gap: 8px;

    &>.product-box-item{
        display: flex;
        gap: 24px;

        &>p:first-of-type{
            color: #D87D4A;
            font-size: 15px;
            line-height: 25px;
            font-weight: bold;
        }

        &>p:last-of-type{
            color: black;
            font-size: 15px;
            line-height: 25px;
            font-weight: 500;
            opacity: 0.5;
        }
    }
}

.product-gallery{
    display: grid;
    gap: 30px;
    height: auto;
    grid-template-columns: 1fr 2fr;

    &>picture>img{
        width: 100%;
        height: 100%;
        border-radius: 8px;
    }

    &>div{
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 30px;
        flex: 1;

        &>picture>img{
            height: 100%;
            width: 100%;
            border-radius: 8px;
        }
    }

    @media (max-width: 700px) {
        display: flex;
        flex-direction: column;
        gap: 20px;

        &>div{
            display: flex;
            flex-direction: column;
            gap: 20px;
        }
    }
}

.product-others{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;

    &>div{
        display: flex;
        gap: 30px;

        &>div{
            display: flex;
            flex-direction: column;
            align-items: center;
            
            &>picture>img{
                width: 350px;
                border-radius: 8px;
            }

            &>h3{
                font-size: 24px;
                font-weight: bold;
                color: black;
                letter-spacing: 1.71px;
                margin-block: 40px 32px;
            }
        }

        @media (max-width:1100px) {
            gap: 11px;

            &>div>picture>img{
                height: auto;
                width: 100%;
            }
        }

        @media (max-width: 700px) {
            flex-direction: column;
            gap: 56px;
        }
    }
}

