.cart-btn{
    background-color: #F1F1F1;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 15px 20px;

    &.cart-btn-sm{
        gap: 12px;
        padding: 7px 12px;
    }

    &>button{
        border: none;
        background-color: transparent;
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 1px;
        user-select: none;

        &:hover{
            cursor: pointer;
            color: #D87D4A;
        }

        &:focus{
            outline: none;
        }
    }

    &>p{
        font-size: 13px;
        letter-spacing: 1px;
        font-weight: bold;
        width: 16px;
        height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

