.category-page{
    display: flex;
    flex-direction: column;


    &>p{
        background-color: black;
        color: white;
        font-size: 40px;
        line-height: 44px;
        letter-spacing: 1.43px;
        font-weight: bold;
        padding-top: 195px;
        padding-bottom: 95px;
        text-align: center;
    }

    &>.category-page-main{
        display: flex;
        flex-direction: column;
        padding: 160px 165px;
        gap: 160px;

        @media (max-width: 1100px) {
            padding-inline: 40px;
        }

        @media (max-width: 700px) {
            padding: 64px 24px 120px 24px;
        }
    }
}

.category-page-products{
    display: flex;
    flex-direction: column;
    gap: 150px;
    align-content: center;
}