.container{
    background-color: #101010;
    padding: 70px 24px 50px 24px;
    display: flex;
    justify-content: center;
    color: white;
}

.footer{
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1110px;
    gap: 36px;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.nav-items{
    display: flex;
    gap: 34px;
    &>p{
        transition: color ease 0.3s;
        &:hover{
            cursor: pointer;
            color: var(--orange);
        }
    }
}

.desc{
    display: flex;
    align-items: center;

    &>*{
        flex: 1;
    }
}

/*Sets both container to 50% width*/


.desc > p{
    opacity: 0.5;
}

.socials{
    display: flex;
    align-items: center;
    align-self: flex-end;
    justify-content: flex-end;
    padding: 7px 4px;
    gap: 16px;

    &>svg{
        transition: color ease 0.3s;
        &:hover{
            cursor: pointer;
            color: var(--orange);
        }
    }
}

.footer > p{
    opacity: 0.5;
}
